
<ion-header>
  <ion-toolbar>
    <ion-title>Available Flowers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus" cancelButtonText="Cancel"></ion-searchbar>
  <br>
  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img class="myImg" src="assets/sunflower.jpg"/>
      <ion-title class="text">Sunny Smile<br>₱ 1,499</ion-title> <ion-select value="sunflower" okText="Add to Cart" cancelText="Cancel">
      </ion-select>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img class="myImg" src="assets/rose.jpg"/>
      <ion-title class="text">All My Love<br>₱ 1,599</ion-title> <ion-select value="rose" okText="Add to Cart" cancelText="Cancel">
      </ion-select>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img class="myImg" src="assets/tulip.jpg"/>
      <ion-title class="text">Queen Thalia<br>₱ 3,299</ion-title> <ion-select value="tulip" okText="Add to Cart" cancelText="Cancel">
      </ion-select>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img class="myImg" src="assets/daisy.jpg"/>
      <ion-title class="text">Beautiful You<br>₱ 1,299</ion-title> <ion-select value="daisy" okText="Add to Cart" cancelText="Cancel">
      </ion-select>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img class="myImg" src="assets/whiterose.jpg"/>
      <ion-title class="text">Pure Love<br>₱ 1,799</ion-title> <ion-select value="whiterose" okText="Add to Cart" cancelText="Cancel">
      </ion-select>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img class="myImg" src="assets/flower.jpg"/>
      <ion-title class="text">Touch of Love<br>₱ 2,299</ion-title> <ion-select value="flower" okText="Add to Cart" cancelText="Cancel">
      </ion-select>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img class="myImg" src="assets/flower1.jpg"/>
      <ion-title class="text">Miss Sunshine<br>₱ 1,799</ion-title> <ion-select value="flower1" okText="Add to Cart" cancelText="Cancel">
      </ion-select>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img class="myImg" src="assets/flower2.jpg"/>
      <ion-title class="text">Pink Ethernal Love<br>₱ 1,999</ion-title> <ion-select value="flower2" okText="Add to Cart" cancelText="Cancel">
      </ion-select>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <img class="myImg" src="assets/flower3.jpg"/>
      <ion-title class="text">Sunny Honey<br>₱ 2,299</ion-title> <ion-select value="flower3" okText="Add to Cart" cancelText="Cancel">
      </ion-select>
    </ion-toolbar>

  </ion-header>
  <br>
  <br>
  <ion-button href="home" ><ion-icon name="home-outline"></ion-icon></ion-button>

  <ion-button href="home" ><ion-icon name="cart-outline"></ion-icon></ion-button>
</ion-content>
